!**/[Pp]ackages/build/
!.axoCover/settings.json
!.vscode/*.code-snippets
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json
!?*.[Cc]ache/
$tf/
*$py.class
**/*.DesktopClient/GeneratedArtifacts
**/*.DesktopClient/ModelManifest.xml
**/*.HTMLClient/GeneratedArtifacts
**/*.Server/GeneratedArtifacts
**/*.Server/ModelManifest.xml
**/[Pp]ackages/*
*- [Bb]ackup ([0-9]).rdl
*- [Bb]ackup ([0-9][0-9]).rdl
*- [Bb]ackup.rdl
*.DotSettings.user
*.GhostDoc.xml
*.VC.VC.opendb
*.VC.db
*.VisualState.xml
*.[Cc]ache
*.[Pp]ublish.xml
*.[Rr]e[Ss]harper
*.appx
*.appxbundle
*.appxupload
*.aps
*.azurePubxml
*.bim.layout
*.bim_*.settings
*.binlog
*.btm.cs
*.btp.cs
*.build.csdef
*.cab
*.cachefile
*.code-workspace
*.cover
*.coverage
*.coveragexml
*.dbmdl
*.dbproj.schemaview
*.dotCover
*.dsp
*.dsw
*.e2e
*.egg
*.egg-info/
*.gpState
*.ilk
*.iobj
*.ipdb
*.iws
*.jfm
*.jmconfig
*.ldf
*.log
*.manifest
*.mdf
*.meta
*.mm.*
*.mo
*.msi
*.msix
*.msm
*.msp
*.ncb
*.ndf
*.nuget.props
*.nuget.targets
*.nupkg
*.nvuser
*.obj
*.odx.cs
*.opendb
*.opensdf
*.opt
*.pch
*.pdb
*.pfx
*.pgc
*.pgd
*.pidb
*.plg
*.pot
*.psess
*.publishproj
*.publishsettings
*.pubxml
*.py,cover
*.py.cover
*.py[cod]
*.py[codz]
*.pyc
*.rdl.data
*.rptproj.bak
*.rptproj.rsuser
*.rsp
*.rsuser
*.sage.py
*.sap
*.sbr
*.scc
*.sdf
*.sln.docstates
*.sln.iml
*.snupkg
*.so
*.spec
*.suo
*.svclog
*.tlb
*.tlh
*.tli
*.tlog
*.tmp
*.tmp_proj
*.tss
*.user
*.userosscache
*.userprefs
*.vbp
*.vbw
*.vsix
*.vsp
*.vspscc
*.vspx
*.vssscc
*.xsd.cs
*_h.h
*_i.c
*_p.c
*_wpftmp.csproj
*~
.*crunch*.local.xml
.Python
.Trashes
.abstra/
.axoCover/*
.builds
.cache
.coverage
.coverage.*
.cr/personal
.cursorignore
.cursorindexingignore
.dmypy.json
.eggs/
.env
.envrc
.fake/
.fseventsd/
.history/
.hypothesis/
.idea/
.idea/**/aws.xml
.idea/**/contentModel.xml
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/dataSources/
.idea/**/dbnavigator.xml
.idea/**/dictionaries
.idea/**/dynamic.xml
.idea/**/gradle.xml
.idea/**/libraries
.idea/**/mongoSettings.xml
.idea/**/shelf
.idea/**/sqlDataSources.xml
.idea/**/tasks.xml
.idea/**/uiDesigner.xml
.idea/**/usage.statistics.xml
.idea/**/workspace.xml
.idea/caches/build_file_checksums.ser
.idea/httpRequests
.idea/replstate.xml
.idea/sonarlint/
.idea_modules/
.installed.cfg
.ionide/
.ipynb_checkpoints
.localhistory/
.metadata_never_index
.mfractor/
.mypy_cache/
.nox/
.ntvs_analysis.dat
.paket/paket.exe
.pdm-build/
.pdm-python
.pdm.toml
.pixi
.pybuilder/
.pypirc
.pyre/
.pytest_cache/
.pytype/
.ropeproject
.ruff_cache/
.sass-cache/
.scrapy
.spyderproject
.spyproject
.tox/
.venv
.vs/
.vscode/*
.vshistory/
.webassets-cache
/site
ASALocalRun/
AppPackages/
AutoTest.Net/
Backup*/
BenchmarkDotNet.Artifacts/
BundleArtifacts/
ClientBin/
DocProject/Help/*.HxC
DocProject/Help/*.HxT
DocProject/Help/*.hhc
DocProject/Help/*.hhk
DocProject/Help/*.hhp
DocProject/Help/Html2
DocProject/Help/html
DocProject/buildhelp/
ENV/
FakesAssemblies/
FodyWeavers.xsd
Generated\ Files/
Generated_Code/
MANIFEST
MigrationBackup/
OpenCover/
Package.StoreAssociation.xml
PublishScripts/
ScaffoldingReadMe.txt
ServiceFabricBackup/
StyleCopReport.xml
TestResult.xml
UpgradeLog*.XML
UpgradeLog*.htm
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
[Bb]in
[Bb]in/
[Bb]uild[Ll]og.*
[Dd]ebug/
[Dd]ebugPS/
[Dd]ebugPublic/
[Ee]xpress/
[Ii]nclude
[Ll]ib
[Ll]ib64
[Ll]ocal
[Ll]og/
[Ll]ogs/
[Oo]bj/
[Rr]elease/
[Rr]eleasePS/
[Rr]eleases/
[Ss]cripts
[Tt]est[Rr]esult*/
[Ww][Ii][Nn]32/
_Chutzpah*
_NCrunch_*
_Pvt_Extensions
_ReSharper*/
_TeamCity*
_UpgradeReport_Files/
__marimo__/
__pycache__/
__pypackages__/
_pkginfo.txt
artifacts/
atlassian-ide-plugin.xml
bld/
boot_out.txt
build/
celerybeat-schedule
celerybeat.pid
cmake-build-*/
com_crashlytics_export_strings.xml
cover/
coverage*.info
coverage*.json
coverage*.xml
coverage.xml
crashlytics-build.properties
crashlytics.properties
csx/
cython_debug/
db.sqlite3
db.sqlite3-journal
develop-eggs/
dist/
dlldata.c
dmypy.json
docs/_build/
downloads/
ecf/
eggs/
env.bak/
env/
fabric.properties
healthchecksdb
htmlcov/
instance/
ipch/
ipython_config.py
lib/
lib64/
local_settings.py
marimo/_lsp/
marimo/_static/
mono_crash.*
nCrunchTemp_*
node_modules/
nosetests.xml
nunit-*.xml
orleans.codegen.cs
out/
paket-files/
parts/
pip-delete-this-directory.txt
pip-log.txt
pip-selfcheck.json
profile_default/
project.fragment.lock.json
project.lock.json
publish/
pyvenv.cfg
rcf/
sdist/
share/python-wheels/
target/
var/
venv.bak/
venv/
wheels/
x64/
x86/
~$*
